* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/* Default theme is dark */
:root {
	--Text1: #f3f3f3;
	--TextLink: #a1a3ff;
	--TextLinkHover: #bcbdff;

	--SocialIcon: #696969;
	--SocialIconHover: #ffffff;
	--SocialIconBg: #242424;
	--SocialIconBgHover: #0e0e0e;

	--SocialIcon2: #f3f3f3;

	--Border: #4b4b4b;

	--Body: #0e0e0e;
	--BodyGradient: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(27,27,27,1) 80%, rgba(27,27,27,1) 100%);

	--Block1: #2b2b2b;
	--Block2: #363636;
}

:root[theme="light"] {
	--Text1: #000000;
	--TextLink: #001aff;
	--TextLinkHover: #4b5dff;

	--SocialIcon: #8f8f8f;
	--SocialIconHover: #4e4e4e;
	--SocialIconBg: #e7e7e7;
	--SocialIconBgHover: #ffffff;

	--SocialIcon2: #666666;

	--Border: #b8b8b8;

	--Body: rgb(218, 218, 218);
	--BodyGradient: linear-gradient(0deg, rgb(218, 218, 218) 0%, rgb(241, 241, 241)  80%, rgb(241, 241, 241) 100%);

	--Block1: #f0f0f0;
	--Block2: #e2e2e2;
}

/* Theme button */
.theme-toggle {
	cursor: pointer;
	padding: 0.25em 1em;
	border-radius: 20px;

	border-color: var(--Border);
	border-width: 2px;
	border-style: solid;

	background-color: var(--SocialIconBg);
}
.theme-toggle:hover {
	background-color: var(--SocialIconBgHover);
	-webkit-transition: .1s;
	transition: .1s;
}
#theme-input { position: absolute; opacity: 0; width: 0; height: 0; }
.slider {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	
	-webkit-transition: .1s;
	transition: .1s;

	background-color: var(--SocialIcon);
	border-radius: 10px;
	width: 25px;
	height: 18px;
	left: -10px;
}
#theme-input:checked + .slider {
	left: 10px;
}

/* Body */
body {
	/* background-color: var(--Body); */

	background: var(--BodyGradient);
	background-color: var(--Body);
	background-repeat: no-repeat;
	
	color: var(--Text1);
	font-family: "Segoe UI", sans-serif;
	padding: 0;
	margin: 0 0 6em 0;
}

/* ========================= Combined styles start */
.navbar {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-color: var(--Border);
	border-style: solid;
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
/* ========================= Combined styles end */

/* navbar */
.navbar {
	background-color: var(--Block2);
	border-width: 0 0 1px 0;
}
.navbar-inner {
	justify-content: flex-end;
	padding: 0.25em 0;
}

/* Hyperlinks */
a {
	cursor: pointer;
	color: var(--TextLink);
	text-decoration: none;
}
.text a:hover {
	color: var(--TextLinkHover);
	text-decoration: underline;
}

/* Text elements */
h1, h2, h3, .text {
	margin: 0;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.8em;
	font-weight: bold;
}
h3 {
	font-size: 1.3em;
	font-weight: bold;
}
.text {
	font-size: 1.05em;
	font-weight: 600;
}

/* Responsive container */
.container { 
	margin: 0 auto;
	max-width: 900px;
}

/* Media queries */

/* Mobile/tablet width */
@media only screen and (max-width: 900px) {
	.navbar-inner {
		padding: 0.25em;
	}
}