/* Content */
.intro,
.header {
  text-align: center;
}

.header,
.projects {
  box-shadow: 0 2px 2px var(--S);
  border-color: var(--B);
  border-style: solid;
}

.block:first-of-type {
  margin-top: 1em;
}

.block {
  margin-top: 2em;
}

/* Social icons */
.social-icons {
  margin-top: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75em;
}

.social-icons a {
  border-radius: 50%;
}

.social-icons i {
  background-color: var(--Body);
  color: var(--C5);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8em;
  width: 50px;
  height: 50px;
}

.social-icons a:hover i {
  box-shadow: 0 0 6px var(--C4);
  color: var(--T1);
  transition: 0.12s;
}

.header {
  background-color: var(--C2);
  border-width: 1px;
  padding: 0.8em;
  border-radius: 0.25em 0.25em 0 0;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--C1);
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 0.25em 0.25em;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 200px;
  max-width: 100%;

  padding: 1em;
  gap: 0.5em;
}

.project + .project {
  padding-top: 1.5em;

  border-top: 1px dashed var(--B);
}

.project:last-of-type {
  margin-bottom: 1.5em;
}

.project-left {
  flex-basis: 70%;
}

.project-right {
  flex-basis: 30%;
}

.project img {
  display: block;

  border-radius: 0.25em;

  width: 315px;
  max-width: 100%;
}

.project img:hover {
  filter: brightness(0.8);
  transition: 0.12s;
}

.project-title {
  color: var(--T1);
}

.project-title a {
  color: inherit;
}

.project-description {
  margin: 0.5em 0 0.5em 0;

  color: var(--T1);
  font-size: 1em;
  font-weight: 400;

  text-wrap: balance;
}

.project-tags {
  margin-top: 0.75em;

  display: flex;
  flex-wrap: wrap;
}

.project-tags span {
  background-color: var(--C4);
  color: var(--T2);
  font-weight: 500;
  border-radius: 0.5em;
  font-size: 0.8em;
  padding: 0.25em 0.6em;
  margin: 0 0.5em 0.5em 0;

  line-height: 20px;

  box-shadow: 1px 2px 2px var(--S);
  max-width: 100%;
}

/* Contact */

.contact {
  margin-top: 1em;
}

.contact * {
  margin: 0;
  max-width: 100%;
}

.email {
  color: var(--TLink);
  font-size: 1em;
  font-weight: 400;
}

/* Other */
.highlight {
  font-style: normal;
  color: var(--THighlight);
}

/* Media queries */
@media only screen and (max-width: 920px) {
  .header,
  .projects {
    border-radius: 0;
  }
}

@media only screen and (max-width: 770px) {
  .project {
    flex-direction: column;
  }

  .project-right {
    display: flex;
    justify-content: center;

    margin-top: 0.5em;
  }
}
